.header {
  width: 100%;
  margin-right: auto;
  background-color: #fff;
  margin-bottom: 25px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-right: 21px;
}

.notificate {
  display: inline-block;
  text-decoration: none;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  background-color: #fb551a;
  position: relative;
  margin-right: 10px;

  &-icon {
    display: inline-block;
    width: 12px;
    height: 13px;
    position: absolute;
    top: 7px;
    left: 8px;
  }
}
.user {
  display: inline-block;
  text-decoration: none;
  width: 28px;
  height: 28px;
  border-radius: 3px;
  background-color: #ffd5c6;
  position: relative;

  &-icon {
    display: inline-block;
    width: 12px;
    height: 13px;
    position: absolute;
    top: 7px;
    left: 7px;
  }
}
