.sidebar-section {
  max-width: 213px;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
}

.sidebar {
  padding-top: 17px;
  padding-left: 20px;

  &-header {
    margin-bottom: 40px;
    background-color: #fb551a;

    &__btn {
      display: inline-block;
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 15px 16px;
    }
  }
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sidebar-item {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 21px;

  &_img {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: #fb551a;
    border-radius: 3px;
    margin-right: 10px;
    position: relative;
  }
  &_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
  }
}
.sidebar-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 5px;
  top: 5px;
}
